<nav>
  <div class="container">
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/routes">Routes</a></li>
      <li><a href="/analysis">Analysis</a></li>
      <li><a href="/alerts">Alerts</a></li>
      <li><a href="/users">User</a></li>
    </ul>
  </div>
</nav>
